html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
  
  li {
    list-style: none;
  }
  
  img {
    max-width: 100%;
}  

.body{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: 14px;
    line-height: 21px;
    color: #292D32;
    
}

.aside_container{
    max-width: 306px;
    padding: 20px;
    background-color: #fff;
}

.logo{
    margin-bottom: 50px;
}

sub{
    font-style: 10px;
    line-height: 15px;
    color: #838383;
    justify-content: end;
}

.dashboard{
    margin-bottom: 20px;
    margin-left: 10px;
}

.nav_list{
    justify-content: center;
    align-items: center;
   
}

.nav_link{
    position: relative;
    display: flex;
    align-items: center;
    width: 250px;
    padding: 10px;
    margin-bottom: 15px;
    color: #9197B3;
}

.nav_link-active{
    background-color: #5932EA;
    color: #fff;
    border-radius: 8px;  
}

.nav_link_img{
    margin-right: 20px;
    stroke: #9197B3;
    fill: #9197B3;
}

.nav_link_img-active{
    fill: white;
}

.nav_link_vector{
    position: absolute;
    right: 5px;
}

.user_container{
    margin-top: 500px;
    display: flex;
}

.user{
    margin-left: 10px;
}

.user_name{
    margin-bottom: 5px;
}

.user_position{
    font-size: 12px;
    line-height: 18px;
    color: #757575;
}

.container {
    display: flex;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    background-color: #FAFBFF;
}

section{
    width: 100%;;
    padding: 20px 50px;
    position: relative;
}

.card{
    margin-top: 50px;
    max-width: 968px;
    background-color: #fff;
    border-radius: 20px;
    padding: 30px;
    position: absolute;
    transition: opacity 0.3s ease;
    opacity: 0;
}

.content-item--active {
    opacity: 1;
  }

.card_title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.title{
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    color: #000000
}

.card_text{
    color: #16C098;
}

label{
    position: relative;
}

.search{
    position: absolute;
    left: 10px;
    top: 1px;
}

.card_input{
    max-width: 216px;
    border-radius: 10px;
    background-color: #F9FBFF;
    padding: 10px 10px 10px 40px;
    border: none;
    color: #000000;
    outline: #B5B7C0;
}

.card_input::placeholder{
    font-size: 12px;
    line-height: 18px;
    color: rgba(181, 183, 192, 1);
    
}

table{
    max-width: 908px;
    margin: 0 auto;
    text-align: left;
}

tr{
    border-bottom: 1px solid #EEEEEE;    
}

th{
    padding: 15px 10px;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #292D32;
}

.table_header_text{
    color: #B5B7C0;
}

.btn_th{
    border: 1px solid #DF0404;
    background-color: rgba(255, 197, 197, 1);
    border-radius: 4px;
    padding: 4px 12px;
    color: #DF0404;
}

.btn_th-activ{
    border: 1px solid #00B087;
    background-color: rgba(22, 192, 152, 0.38);
    border-radius: 4px;
    padding: 4px 12px;
    color: #008767;
}

.b-pagination-outer {
    width: 100%;
    text-align: center;
    align-items: center;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  }
  #border-pagination { 
    padding: 0;
    display: flex;
    gap: 10px;
    
  }
  #border-pagination li {
    display: inline;
  }
  #border-pagination li a {
    display: block;
    text-decoration: none;
    float: left;
    color: #000;
  padding: 6px 9px 6px 9px;
  border: 1px solid #EEEEEE;
  border-radius: 4px;
  background-color: #F5F5F5;
  font-size: 12px;
    line-height: 12px;
    
  }
  #border-pagination li a {
    -webkit-transition: background-color 0.4s;
    transition: background-color 0.4s
  }
  #border-pagination li a.active {
    background-color: rgba(89, 50, 234, 1);
    border: 1px solid rgba(89, 50, 234, 1);
    padding: 6px 10px 6px 10px;
    border-radius: 4px;
    gap: 10px;
    font-size: 12px;
    line-height: 12px;
    color: #fff;
  }
  #border-pagination li a:hover:not(.active) {
    background-color: #F5F5F5;
  }

  .pagination_text{
    color: rgba(181, 183, 192, 1);
  }
